<div class="card_space">
  <div class="event_card">
    <img class="img-thumbnail center-block fixed_height" alt="your image" src="<%=event.image.url%>">
    <h2><%=event.title%></h2>
    <span><%=event.place%></span>
    <span><%=event.event_date.strftime("%-d/%b/%Y")%></span>
    <%if current_user && current_user.type.eql?("Admin")%>
    <a class="btn btn-primary" href="<%= edit_sale_event_path(event) %>" role="button">Editar evento</a>
    <%else%>
    <a class="btn btn-success" href="<%= show_sale_event_path(event) %>" role="button">Ver evento</a>
    <%end%>
  </div>
</div>
