<div class="new_location_type row">
  <%= fields_for :location_types, !location_type.nil? ? location_type : @sale_event.location_types.build do |loc_type| %>
    <%if !location_type.nil?%>
      <input id="sale_event[location_types_attributes][<%=index%>][id]"
          name="sale_event[location_types_attributes][<%=index%>][id]"
          type="hidden" value="<%=location_type.id%>" />
    <%end%>
    <div class="col-md-6 col-sm-12 form-group input_group">
      <%= loc_type.label(:name, "Nombre de la locación") %>
      <%= text_field_tag :name, location_type.nil? ? nil : location_type.name ,
          {name:"sale_event[location_types_attributes][#{index}][name]",
          id:"sale_event_location_types_attributes_#{index}_name",
            required: true, type: "text"}%>
    </div>
    <div class="col-md-6 col-sm-12 form-group input_group">
      <%= loc_type.label(:price, "Precio") %>
      <%= text_field_tag :price, location_type.nil? ? nil : location_type.price.to_i ,
          {name:"sale_event[location_types_attributes][#{index}][price]",
          id:"sale_event_location_types_attributes_#{index}_price",
            required: true, type: "number"}%>
    </div>
    <div class="col-md-6 col-sm-12 form-group input_group">
      <%= loc_type.label(:quantity, "Cantidad") %>
      <%= text_field_tag :quantity, location_type.nil? ? nil : location_type.quantity.to_i ,
          {name:"sale_event[location_types_attributes][#{index}][quantity]",
          id:"sale_event_location_types_attributes_#{index}_quantity",
            required: true, type: "number"}%>
    </div>
    <%if index!=0%>
      <div class="col-md-6 col-sm-12 d-flex justify-content-center">
        <button class="btn btn-outline-danger btn-sm" type="button" onclick="removeLocation(this)" name="button">Eliminar Locación</button>
      </div>
    <%end%>
  <%end%>
</div>
