<h1>Editar evento</h1>

<%= form_for @sale_event,
    url:update_sale_event_path, method: :put,
    id: "sale_event_form",
    :html => {class: 'new_sale_event row'} do |f|%>
  <%= f.hidden_field :id, value: @sale_event.id %>
  <div class="col-md-6 col-sm-12 form-group clase_x">
    <%= f.label(:title, "Nombre del evento") %>
    <%= f.text_field :title, value: @sale_event.title, required: true %>
  </div>
  <div class="col-md-6 col-sm-12 form-group clase_x">
    <%= f.label(:place, "Lugar") %>
    <%= f.text_field :place, value: @sale_event.place, required: true %>
  </div>
  <div class="col-md-6 col-sm-12 form-group clase_x">
    <%= f.label(:description, "Descripción") %>
    <%= f.text_field :description, value: @sale_event.description, required: true %>
  </div>
  <div class="col-md-6 col-sm-12 form-group clase_x">
    <%= f.label(:event_date, "Fecha") %>
    <%= f.datetime_field :event_date, value: @sale_event.event_date.strftime("%Y-%m-%dT%H:%M"), required: true %>
  </div>
  <div class="col-md-6 col-sm-12 form-group clase_x upload carthumb photoshoot__upload">
    <%= f.label(:image, "Imagen") %>
    <%= f.file_field :image %>
    <%if !@sale_event.image.present?%>
      <img class="img-thumbnail center-block" alt="your image" target="_blank" src="" style="display: none;">
    <%else%>
      <img class="img-thumbnail center-block" alt="your image" target="_blank" src="<%=@sale_event.image.url%>">
    <%end%>
  </div>
  <div class="col-12 location_event">
    <div class="locations_container">
      <% @count_locations = @sale_event.location_types.size %>
      <%=hidden_field_tag :count_locations, @count_locations%>
      <%@sale_event.location_types.each_with_index do |location_type,index|%>
        <%= render "new_location_event", index: index, location_type: location_type%>
      <%end%>
    </div>
    <button id="add_new_location" type="button" name="button">Añadir una locación al evento</button>
  </div>
  <%= submit_tag("Finalizar") %>
<% end %>

<script type="text/javascript">
  function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
            // Remove class upload, the one that has the background image
            var $parent = $(input).closest('div.carthumb');
            $($parent).removeClass("upload");
            // Show the img tag
            $($parent).find('img').show();

            // Change the src of the img tag to the img loaded
            $($parent).find('img').attr('src', reader.result);
        }

        reader.readAsDataURL(input.files[0]);
    }
  }

  // Everytime the [input:file] change do
  $(":file").change(function(){
      readURL(this);
  });


  var location_counter = 1;

  // Click at "Añadir una locación al evento" button
  $("button#add_new_location").click(function(){
    let temp=document.querySelector(".locations_container #count_locations").value+1;
    document.querySelector(".locations_container #count_locations").value = temp;
    $(".locations_container").append("<%= j(render partial: 'new_location_event', locals:{index:@count_locations+1, location_type: nil}) %>");
    var input_elements = document.querySelectorAll(".locations_container .new_location_type:nth-last-child(1) input");
    Array.from(input_elements).forEach(function(e,i,a){
      e.name=e.name.replace("1", location_counter);
      e.id=e.id.replace("1", location_counter);
    });
    location_counter += 1;
  });

  // Click at "" button
  function removeLocation(element){
    var location_form = element.parentNode;
    if(location_form.querySelector("input[type='hidden']")){
      var input_hidden = document.createElement("input");
      input_hidden.setAttribute("type", "hidden");
      var copy_name = location_form.querySelector("input[type='number']").name;
      var copy_id = location_form.querySelector("input[type='number']").id;
      var id_to_delete = location_form.querySelector("input[type='hidden']").value;
      copy_name = copy_name.replace("price","_destroy");
      input_hidden.setAttribute("name", copy_name);
      input_hidden.setAttribute("value", id_to_delete);
      location_form.appendChild(input_hidden);
      location_form.style.display = 'none';
    }else{
      location_form.parentNode.removeChild(location_form);
    }
  }

</script>
